name: Flutter CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.0' # Or 'stable' to always get the latest

      - name: Verify Flutter & Dart versions
        run: |
          flutter --version
          dart --version

      - name: flutter upgrade
        run: flutter upgrade

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze (non-fatal infos)
        run: flutter analyze --no-fatal-infos

      - name: Run tests
        run: flutter test
